flask
flask_socketio
Flask-Minify==0.43
numpy
gevent
win10toast
keyboard==0.13.5
pyautogui==0.9.53
pywin32
pycaw
pillow
pyaudio
webcolors==1.12
deep_translator
mss
pyperclip
cputil
gputil
pynvml
spotipy
simple-websocket
pystray
customtkinter==5.2.2
easygui
qrcode
pywebview
cx_Freeze
pathspec
python-vlc
nava==0.7
obs-websocket-py
tqdm
pydub
psutil
altgraph==0.17.5
colorama==0.4.6
packaging==26.2
pefile==2024.8.26
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
setuptools==80.10.2
